.message{
    display: flex;
    flex-direction: column;
}
.messageImage{
    
    margin-right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.messageTop{
    display: flex;
}
.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 500px;
}
.messageBottom{
    font-size: 12px;
    margin-top: 10px;
}

.message.own {
    align-items: flex-end;

}
.message.own .messageText {
    background-color: rgb(230, 230, 230);
    color: black;

}